.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.cuisine-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuisine-type {
    margin: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: lightcoral; */
}

.card {
    display: flex;
    margin: 10px;
    width: 500px;
    height: 300px;
    background-color: #7ebdc2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.card a {
    text-decoration: none;
    color: black;
}

.card:hover {
    transform: scale(1.1);
    border-style: solid;
    border-width: 2px;
    /* animation: card-shake 0.2s ease-in-out 2; */
}

.card-info-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-start;
    width: 200px;
    padding: 10px;
    padding: 10px 0 10px 10px;
    /* background-color: lightpink; */
}

.card-ingredients-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 0;
    /* overflow-y: scroll; */
    /* background-color: lightgreen; */
    /* border-box includes padding and border in the element's total width and height. */
    box-sizing: border-box;
}

.card-title {
    color: #bb4430;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    width: 100%;
    min-height: 60px;
    background-color: #efe6dd;
    border-radius: 6px 0px 0px 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    /* padding: 6px; */
}

.info-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: lightblue; */
    width: 100%;
    height: 100%;
    padding: 10px;
}

.info {
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.info:hover {
    color: #f3dfa2;
    animation: scale-left-right 0.2s ease-in-out forwards;
}

.ingredient-title-container {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    width: 100%;
    height: 60px;
    background-color: #efe6dd;
    border-radius: 0 6px 6px 0;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
}

.ingredients-row-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.ingredient-row {
    display: flex;
    /* background-color: lightpink; */
    margin: 6px 30px 6px 30px;
    padding-left: 20px;
    transition: transform 0.2s ease-in-out;
    justify-content: start;
    /* align-items: center; */
}

.ingredient-row:hover {
    background-color: #f3dfa2;
    border-radius: 50px;
    transform: scale(1.1)
}

.checkmark {
    min-width: 20px;
    min-height: 20px;
}

.checkmark:checked + .ingredient {
    /* color: white; */
    /* background-color: #bb4430; */
    /* border-radius: 20px; */
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: rgb(100, 99, 99)
}

.ingredient {
    margin: 10px;
}

.recipe-name {
    margin: 10px;
    font-size: 16px;
}

.card-image {
    display: flex;
    width: 100%;
    min-height: 100px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.card-image:hover {
    animation: scale-left-right-big 0.5s ease-in-out forwards;
    border-style: solid;
    border-width: 2px;
}

.recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}