.card-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: start;
    background-color: lightpink;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    margin: 10px;
    width: 220px;
    height: 300px;
    background-color: lightblue;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card:hover {
    animation: card-shake;
    animation-duration: 0.2s;
    /* animation-iteration-count: 2; */
    animation-timing-function: ease-in-out;
}